.MainForm {
    width: 87%;
    margin: 0 auto;
    background-color: #d4d4d4;
    border-radius: 05px;
    padding-left: 20px;
}

.AvailableroomsForm {
    width: 100%;
    padding-left: 20px;
    margin-left: 80px;
    background-color: #d4d4d4;
    border-radius: 05px;
}

.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}