.background-img {
	background-image: url('/Images/logos.jpg');
	background-attachment: scroll;
	background-repeat: repeat-y;
	background-size: cover;
	height: 100%;
	min-width: 400px;
	width: auto !important;
}



@media screen and (max-width: 768px) {
	.helpdiv {
		text-align: left;
	}

	.background-img {
		background-image: url('/Images/logos.jpg');
		background-attachment: scroll;
		background-repeat: repeat-y;
		background-size: auto;
		height: 100%;
		width: 100% !important;
	}
}
